/* Cascading StyleSheets */
/* CSS selector */

.top li {
	display: inline-block;
	padding: 10px 30px;
}

.top a {
	color: white;
	text-decoration: none;	
}
/*navigation bar fixed to top of page*/
.top {
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	height: 44px;
	max-height: 44px;
	left: 0px;
	/*position: fixed;*/
}
/*body of page*/

.body {
	display: inline-block;
}
.body2 {
	display: inline;
}

/*navigation bar at bottom of page*/
footer {
	box-sizing: content-box;
	background-color: rgb(242, 242, 242);
	display: block;
	position: relative;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	text-align: left;
	min-width: 1024px;
	overflow-x: hidden;
	overflow-y: hidden;
	/*text-size-adjust: 100%;*/
}
footer nav {
	padding-top: 21px;
}
footer div {
	margin: 0px 21px;
	max-width: 980px;
	padding: 0px 22px; 
}
.bottom ul {
	margin-bottom: 8.8px;
	margin-right: 20px;
	list-style-position: outside;
	list-style-type: none;
}
.bottom a {
	color: rgb(51, 51, 51);
	text-decoration: none;
}